<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %> 
</head>
<body>

    <header class="container mb-3">
        <%- include('../partials/header',{title:'Home page'}) %> 
    </header>

    <main class="container">
        <div>
            <table class="table table-dark table-striped">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Day</th>
                    <th scope="col">Start at</th>
                    <th scope="col">End at</th>
                  </tr>
                </thead>
                <tbody>
                    <% schedules.forEach((element, index) => { %>

                        <tr>
                          <th scope="row">
                              <%= index + 1%>
                          </th>
                          <td class="text-capitalize">
                              <a href="/user/<%= element.ID %> ">
                                <%= element.firstName + ' ' + element.surName %>
                              </a>
                          </td>
                          <td class="text-capitalize">
                              <%= element.dayWeek %>
                          </td>
                          <td>
                              <%= element.startTime %>
                          </td>
                          <td>
                              <%= element.endTime %>
                          </td>
                        </tr>

                    <% }) %>
                </tbody>
            </table>
        </div>
    </main>
    
    <footer>
    </footer>
    <%- include('../partials/scripts') %> 
</body>
</html>